@tailwind base;
@tailwind components;
@tailwind utilities;


.pos-center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pos-x-center{
  left: 50%;
  transform: translateX(-50%);
}

.pos-y-center{
  top: 50%;
  transform: translateY(-50%);
}

.list-none{
  list-style: none;
}
.trans-up{
  transform: translateY(-120%);
}
.trans-down{
  transform: translateY(0%);
}

.story-map {
  overflow: hidden;
}